.settings{
    display: flex;
}
.settingsWrapper{
    flex: 9;
    padding: 20px;
}
.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settingsUpdateTitele{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}
.settingsDeleteTitele{
    color: red;
    font-size: 12px;
    cursor: pointer;
}
.settingsForm{
    display: flex;
    flex-direction: column;
}
.settingsPP{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.settingsPP >img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
    margin: 10px;
}
.settingsPPIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: lightcoral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.settingsForm >label{
    font-size: 20px;
    margin-top: 20px;

}
.settingsForm >input{
    
}
.settingsSubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    background: teal;
    color: white;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}