@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Protest+Riot&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.link {
  text-decoration: none;
  color: inherit;
}

body{
  background: #ffffff;
}
.fontnew {
  font-family: "Josefin Sans", sans-serif;
}
.btn-slate {
  background: rgb(18, 18, 18) !important;
}

