.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("/bg-city.jpg");
  background-size: cover;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.loginTitle {
  font-size: 50px;
}
.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.loginForm > input {
  margin: 10px 0px;
}
.loginInput {
  padding: 10px;
  background: #f5f5f5;
  border: none;
}
.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.LoginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background: teal;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-size: 17px;
}
.loginButton:disabled {
  cursor: not-allowed;
  background: #ffa8a8;
}
