.post {
  width: 385px;
  margin: 10px 30px 40px 30px;
}
.postImg {
  width: 300px;
  height: 285px;
  object-fit: cover;
  border-radius: 10px;
}
.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: "Varela Round", sans-serif;
  color: #be9656;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.postTitle {
  font-family: "Josefin Sans", sans-serif;
  font-style: 24px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
}
.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  color: #999;
}
.postDesc {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-top:15px ;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
