.sidebar {
  flex: 3;
  margin:  10px;
  padding-bottom: 30px;
  background: #fdfdfd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  
}
.sidebarItem {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: #222;
  font-weight: 200;
  line-height: 20px;

}
.sidebarItem > img {
  margin-top: 15px;
  width: 400px;
  height: 300px;
  border-radius: 1rem;
}
.sidebarItem > p {
  padding: 30px;
  padding-left: 10px;
}
.sidebarList {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 10px;
}
.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}
.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
}

.img-container{
  aspect-ratio: 1;
  overflow: hidden;
}